@keyframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-img {
  all: unset;
  &:focus {
    outline-offset: 2px;
    outline: solid 1px var(--orange-400);
  }
}
.transition-opacity {
  transition: opacity 0.25s ease;
}