<header
      class="sticky top-0 relative border-bottom-1 bg-black flex justify-content-center align-items-center surface-border shadow-3 w-full h-5rem z-5"
    >
      <div class="flex justify-content-between align-items-center w-11 xl:w-8">
        <!-- <app-brand-title /> -->
        <nav class="flex justify-content-around align-items-center navbar" [class.show]="isNavbarOpen()">
          <ul class="flex gap-3  list-none">
            @for (item of headerConfig.navbar; track item.id) {
              <li>
                <p-button
                  class="hover:text-orange-400"
                  styleClass="white-space-nowrap text-white"
                  severity="secondary"
                  [text]="true"
                  [label]="item.label"
                  />
                  <!-- (onClick)="navigate(item.url)" -->
              </li>
            }
            <!-- <app-searchbar /> -->
          </ul>
        </nav>
        <div class="flex gap-2">
          @for (item of headerConfig.buttons; track item.id) {
            @if (!item.authRequired || isAuthenticated()) {
              <p-button
                size="large"
                severity="secondary"
                styleClass="text-color px-3 py-2"
                [text]="true"
                [title]="item.label"
                >
                <!-- (onClick)="navigate(item.url)" -->
                @if (item.badge && badgeCount() > 0) {
                  <i pBadge class="pi {{ item.icon }} text-xl" severity="danger" [value]="badgeCount()"></i>
                } @else {
                  <i class="pi {{ item.icon }} text-xl"></i>
                }
              </p-button>
            }
          }
          <p-button
            styleClass="text-color lg:hidden"
            size="large"
            severity="secondary"
            icon="pi pi-bars"
            [text]="true"
            (onClick)="isNavbarOpen.set(isNavbarOpen() ? false : true)"
          />
        </div>
      </div>
    </header>
